*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Container_Navbar{
display: flex;
justify-content: space-between;
align-items: center;
height: calc(3.5rem - 2px);
background-color: rgb(33, 33, 33);
}
.Burger_Logo_Navbar{
    display: flex;
    height: 3.3rem;
}
.burger{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: space-evenly;
    margin: 0.2rem;
    padding: 0.5rem;
    border: 1 px solid transparent;
    margin-left: 0.5rem;
    margin-right: 0.7rem;
    border-radius: 100%;
}
.burger p{
    margin: 0.5px;
    width: 1.2rem;
    height: 0.1rem;
    background-color: rgb(255, 244, 244);
}
.logo_div_Navbar{
    display: flex;
    text-decoration: none;
}
.logo_title_navbar{
    margin: auto;
    color: white;
    font-weight: bold;
}

.Header_icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 1rem;
}
.notification_Navbar,
.user_Navbar,
.vid_bell_Navbar{
    color: aliceblue;
    margin-left: 2rem;
}